In [21]:
import pandas as pd

In [22]:
#Concateno los 3 outputs
df1 = pd.read_pickle('output.pkl')
df2 = pd.read_pickle('output2.pkl')
df3 = pd.read_pickle('output3.pkl')
df = pd.concat([df1, df2, df3])
len(df) == len(df1) + len(df2) + len(df3)

True

In [23]:
df.head()

,aerolinea,horario_salida,terminal_salida,puerta_salida,horario_llegada,terminal_llegada,puerta_llegada,origen,destino
0,Georgian Airways – A9 652,19:00,-,-,02:30,-,-,"Ámsterdam · jue., 7 de marzo","Tiflis · vie., 8 de marzo"
1,Georgian Airways – A9 652,10:20,-,-,17:50,-,-,"Ámsterdam · sáb., 9 de marzo","Tiflis · sáb., 9 de marzo"
2,Georgian Airways – A9 628,20:20,2D,-,03:50,-,-,"París Charles de Gaulle · vie., 8 de marzo","Tiflis · sáb., 9 de marzo"
3,Georgian Airways – A9 1724,23:10,-,-,04:30,-,-,"Riga · vie., 8 de marzo","Tiflis · sáb., 9 de marzo"
4,Georgian Airways – A9 1724,23:10,-,-,04:30,-,-,"Riga · dom., 10 de marzo","Tiflis · lun., 11 de marzo"

In [24]:
#Ejemplo
x = 'Georgian Airways  – A9 652'
x.split('–')

['Georgian Airways  ', ' A9 652']

In [25]:
#Separo la columna aerolinea en aerolinea y vuelo
df[['aerolinea', 'vuelo']] = pd.DataFrame(df['aerolinea'].apply(lambda row: row.split('–')).values.tolist())

In [26]:
#Separo la columna origen en origen y fecha_salida
df[['origen', 'fecha_salida']] = pd.DataFrame(df['origen'].apply(lambda row: row.split('·')).values.tolist())

In [27]:
#Separo la columna destino en destino y fecha_llegada
df[['destino', 'fecha_llegada']] = pd.DataFrame(df['destino'].apply(lambda row: row.split('·')).values.tolist())

In [31]:
#Re-ordeno las columnas 
df = df[['aerolinea', 'vuelo', 'origen', 'destino', 'fecha_salida', 'horario_salida', 'terminal_salida', 'puerta_salida', 'fecha_llegada', 'horario_llegada', 'terminal_llegada', 'puerta_llegada']]
df.head(3)

,aerolinea,vuelo,origen,destino,fecha_salida,horario_salida,terminal_salida,puerta_salida,fecha_llegada,horario_llegada,terminal_llegada,puerta_llegada
0,Georgian Airways,A9 652,Ámsterdam,Tiflis,"jue., 7 de marzo",19:00,-,-,"vie., 8 de marzo",02:30,-,-
1,Georgian Airways,A9 652,Ámsterdam,Tiflis,"sáb., 9 de marzo",10:20,-,-,"sáb., 9 de marzo",17:50,-,-
2,Georgian Airways,A9 628,París Charles de Gaulle,Tiflis,"vie., 8 de marzo",20:20,2D,-,"sáb., 9 de marzo",03:50,-,-

In [34]:
#Podriamos separar las fechas de salidas y fechas de llegadas en (dia, numero, mes)

In [35]:
#Guardo el archivo
df.to_pickle('info_vuelos.pkl')