# Pkl Generator

## Intención de este notebook

Concatenar los pkl generados, aplicando a su vez algún pre-procesamiento de los datos.

## Importación de librerías

In [4]:
import pandas as pd

## Concatenación de los pkl generados

In [ ]:
df1 = pd.read_pickle('output.pkl')
df2 = pd.read_pickle('output2.pkl')
df3 = pd.read_pickle('output3.pkl')
df = pd.concat([df1, df2, df3])
len(df) == len(df1) + len(df2) + len(df3)

In [43]:
df.head()

,aerolinea,horario_salida,terminal_salida,puerta_salida,horario_llegada,terminal_llegada,puerta_llegada,origen,destino
0,Georgian Airways – A9 652,19:00,-,-,02:30,-,-,"Ámsterdam · jue., 7 de marzo","Tiflis · vie., 8 de marzo"
1,Georgian Airways – A9 652,10:20,-,-,17:50,-,-,"Ámsterdam · sáb., 9 de marzo","Tiflis · sáb., 9 de marzo"
2,Georgian Airways – A9 628,20:20,2D,-,03:50,-,-,"París Charles de Gaulle · vie., 8 de marzo","Tiflis · sáb., 9 de marzo"
3,Georgian Airways – A9 1724,23:10,-,-,04:30,-,-,"Riga · vie., 8 de marzo","Tiflis · sáb., 9 de marzo"
4,Georgian Airways – A9 1724,23:10,-,-,04:30,-,-,"Riga · dom., 10 de marzo","Tiflis · lun., 11 de marzo"

## Procesamiento de los datos

In [45]:
# Separamos la columna aerolinea en aerolinea y vuelo
df[['aerolinea', 'vuelo']] = pd.DataFrame(df['aerolinea'].apply(lambda row: row.split('–')).values.tolist())

In [46]:
# Separamos la columna origen en origen y fecha_salida
df[['origen', 'fecha_salida']] = pd.DataFrame(df['origen'].apply(lambda row: row.split('·')).values.tolist())

In [47]:
# Separamos la columna destino en destino y fecha_llegada
df[['destino', 'fecha_llegada']] = pd.DataFrame(df['destino'].apply(lambda row: row.split('·')).values.tolist())

In [48]:
# Re-ordenamos las columnas 
df = df[['aerolinea', 'vuelo', 'origen', 'destino', 'fecha_salida', 'horario_salida','terminal_salida',\
         'puerta_salida', 'fecha_llegada', 'horario_llegada', 'terminal_llegada', 'puerta_llegada']]

In [49]:
def get_day(row):
    x = row.split(',')
    dias = {'lun.':'lunes', 'mar.':'martes', 'mié.':'miercoles', 'jue.':'jueves',\
            'vie.':'viernes', 'sáb.':'sabado', 'dom.':'domingo'}
    a = [x[0].strip()]
    b = x[1].split('de')
    c = a + b
    c[2] = c[2].strip()
    c[1] = c[1].strip()
    c[0] = dias[c[0]]
    
    return c

df['fecha_salida'] = df['fecha_salida'].apply(lambda row: get_day(row)).values.tolist()
df['fecha_llegada'] = df['fecha_llegada'].apply(lambda row: get_day(row)).values.tolist()

In [50]:
df.head(3)

,aerolinea,vuelo,origen,destino,fecha_salida,horario_salida,terminal_salida,puerta_salida,fecha_llegada,horario_llegada,terminal_llegada,puerta_llegada
0,Georgian Airways,A9 652,Ámsterdam,Tiflis,"[jueves, 7, marzo]",19:00,-,-,"[viernes, 8, marzo]",02:30,-,-
1,Georgian Airways,A9 652,Ámsterdam,Tiflis,"[sabado, 9, marzo]",10:20,-,-,"[sabado, 9, marzo]",17:50,-,-
2,Georgian Airways,A9 628,París Charles de Gaulle,Tiflis,"[viernes, 8, marzo]",20:20,2D,-,"[sabado, 9, marzo]",03:50,-,-

## Exportación del pkl final

In [51]:
df.to_pickle('info_vuelos.pkl')