### Links útiles

Skyscanner API documentation: https://rapidapi.com/skyscanner/api/skyscanner-flight-search?endpoint=5aa1eab3e4b00687d3574279

Unirest documentation for Python: http://unirest.io/python.html

In [41]:
import pandas as pd
import unirest
import datetime

In [2]:
API_HOST = "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com"
API_KEY = "ec5cbd32b7mshbc3873e6092257dp11e806jsn09c588578b1f"

## Intención de este notebook

Para buscar vuelos desde el dia de hoy hasta 10 dias en adelante, ejecutar:

In [47]:
day = datetime.datetime.today() + datetime.timedelta(days=10)
day.strftime('%Y-%m-%d')

'2019-05-04'

Cargo el dataframe con la info de todos los vuelos concatenada

In [64]:
info_vuelos = pd.read_csv('csv/info_vuelos.csv')
info_vuelos = info_vuelos.drop(columns=['vuelo', 'terminal_salida', 'puerta_salida', 'terminal_llegada', 'puerta_llegada'])
info_vuelos.sample(10)

,aerolinea,origen,destino,fecha_salida,horario_salida,fecha_llegada,horario_llegada
260904,Delta,Detroit,Charlotte,"['jueves', '14', 'marzo']",09:17,"['jueves', '14', 'marzo']",10:10
61627,American,Tampa,Charlotte,"['viernes', '8', 'marzo']",20:15,"['viernes', '8', 'marzo']",21:51
184160,Air France,Atlanta,Charlotte,"['lunes', '11', 'marzo']",17:35,"['lunes', '11', 'marzo']",21:45
205512,Alaska,San Francisco,Seattle,"['miercoles', '13', 'marzo']",06:25,"['miercoles', '13', 'marzo']",08:35
294105,Gol,João Pessoa,São Paulo Guarulhos,"['jueves', '14', 'marzo']",09:10,"['jueves', '14', 'marzo']",11:04
253200,Delta,Augusta,Atlanta,"['jueves', '14', 'marzo']",08:15,"['jueves', '14', 'marzo']",09:00
202972,Alaska,Medford,Seattle,"['lunes', '11', 'marzo']",08:55,"['lunes', '11', 'marzo']",11:43
166796,American,Chicago O'Hare,Columbus,"['jueves', '7', 'marzo']",20:29,"['jueves', '7', 'marzo']",23:35
240942,Cathay Pacific,Melbourne,Hong Kong,"['viernes', '15', 'marzo']",20:00,"['viernes', '15', 'marzo']",21:30
310886,SpiceJet,Bombay,Surat,"['lunes', '18', 'marzo']",12:10,"['lunes', '18', 'marzo']",15:05

In [65]:
info_vuelos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344124 entries, 0 to 344123
Data columns (total 7 columns):
aerolinea          344124 non-null object
origen             344124 non-null object
destino            344124 non-null object
fecha_salida       344124 non-null object
horario_salida     344124 non-null object
fecha_llegada      344124 non-null object
horario_llegada    344124 non-null object
dtypes: object(7)
memory usage: 18.4+ MB

TO DO:

- Matchear origen y destino con sus IATA codes (codigo aeropuerto) correspondientes en el archivo aeropuertos.csv
- Crear dataframe con lugar - IATA code
- Para cada fila del df, ejecutar la consulta "browse flight prices" y obtener costo del vuelo
- Exportar el csv

### Browse Flight Prices

In [73]:
# Consulta (quotes, routes, dates)
query = 'quotes'

# Parametros obligatorios
country = 'US'
currency = 'USD'
locale = 'en-US'
origin = 'SFO-sky'       # <IATA code>-sky
destiny = 'JFK-sky'      # <IATA code>-sky
departure = (datetime.datetime.today() + datetime.timedelta(days=10)).strftime('%Y-%m-%d')

# Parametros optativos
arrival = ''

url = "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequery/v1.0/country/currency/locale/origin/destiny/departure?inboundpartialdate=arrival"

current_url = url.replace('query', query)\
                 .replace('country', country)\
                 .replace('currency', currency)\
                 .replace('locale', locale)\
                 .replace('origin', origin)\
                 .replace('destiny', destiny)\
                 .replace('departure', departure)\
                 .replace('arrival', arrival)

response = unirest.get(current_url,
  headers={
    "X-RapidAPI-Host": API_HOST,
    "X-RapidAPI-Key": API_KEY
  }
)

In [74]:
response.body

{u'Carriers': [{u'CarrierId': 833, u'Name': u'American Airlines'},
  {u'CarrierId': 851, u'Name': u'Alaska Airlines'},
  {u'CarrierId': 870, u'Name': u'jetBlue'},
  {u'CarrierId': 988, u'Name': u'Delta'},
  {u'CarrierId': 1065, u'Name': u'Frontier Airlines'}],
 u'Currencies': [{u'Code': u'USD',
   u'DecimalDigits': 2,
   u'DecimalSeparator': u'.',
   u'RoundingCoefficient': 0,
   u'SpaceBetweenAmountAndSymbol': False,
   u'Symbol': u'$',
   u'SymbolOnLeft': True,
   u'ThousandsSeparator': u','}],
 u'Places': [{u'CityId': u'NYCA',
   u'CityName': u'New York',
   u'CountryName': u'United States',
   u'IataCode': u'JFK',
   u'Name': u'New York John F. Kennedy',
   u'PlaceId': 60987,
   u'SkyscannerCode': u'JFK',
   u'Type': u'Station'},
  {u'CityId': u'SFOA',
   u'CityName': u'San Francisco',
   u'CountryName': u'United States',
   u'IataCode': u'SFO',
   u'Name': u'San Francisco International',
   u'PlaceId': 81727,
   u'SkyscannerCode': u'SFO',
   u'Type': u'Station'}],
 u'Quotes': [{u'Direct': True,
   u'MinPrice': 219.0,
   u'OutboundLeg': {u'CarrierIds': [851],
    u'DepartureDate': u'2019-05-04T00:00:00',
    u'DestinationId': 60987,
    u'OriginId': 81727},
   u'QuoteDateTime': u'2019-04-24T20:42:00',
   u'QuoteId': 1}]}